<!doctype html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="app.js"></script>
    <script type="text/javascript">
    (function() {
        'use strict';

        var tags = 'london';
        var script = document.createElement('script');
        script.src = 'http://api.flickr.com/services/feeds/photos_public.gne?format=json&jsoncallback=cb&tags=' + tags;
        document.head.appendChild(script);
    })();
    </script>
</head>

<body ng-controller="Controller as vm">
    <div class="image-holder" ng-repeat="image in vm.data.items" ng-click="vm.select(image)" ng-class="{ 'selected': image.isFavourite }">
        <img src="{{image.media.m}}">
        <p>{{image.title}}</p>
    </div>
</body>

</html>
